<div id="<%= dom_id user %>" class="flex flex-col w-full">
  <div class="p-4 bg-white shadow-lg rounded-lg my-4">
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"><%= link_to user.name, user %></h2>
      <p class="mt-2 text-gray-800"><%= user.bio %></p>
    </div>
    <div class="flex justify-end mt-4 mr-4">
      <p class="font-medium text-gray-500"><%= user.title %></p>
    </div>
  </div>
</div>
