<div>
  <h2 class="font-medium leading-tight text-2xl mt-4 text-blue-600">Hello!, the game.</h2>
  <p class="mt-2">Say "Hello!" to new friends, scan badges, win prizes.</p>
  <h2 class="font-medium leading-tight text-xl mt-4 text-blue-600">How does this work?</h2>
  <ol class="list-num list-inside mt-2">
    <li>Login with the event code (shared when event begins) and four character password</li>
    <li>Create your profile</li>
    <li>Take a selfie</li>
    <li>Meet new people, scan some badges.</li>
  </ol>
  <h2 class="font-medium leading-tight text-xl mt-4 text-blue-600">Is this secure?</h2>
  <p class="mt-2">Presume it's not. Don't share personally identifiable information or company information. All data input is optional.</p>
  <p class="mt-2">That said, there are numerous security precautions in place:</p>
  <ul class="list-disc list-inside mt-2">
    <li>SSL</li>
    <li>No trackers</li>
    <li>Javascript optional</li>
    <li>Authentication required</li>
    <li>Code passed vulnrability scan</li>
    <li>Storage is blocked from public access</li>
    <li>All data will be deleted after the event</li>
    <li>Open source: <a href="https://github.com/jpcummins/irl-greetings">https://github.com/jpcummins/irl-greetings</a></li>
  </ul>
  <h2 class="font-medium leading-tight text-xl mt-6 text-blue-600">Are you ready?</h2>
  <p class="mt-2">If that didn't scare you away, let the games begin!</p>
</div>
<%= render "auth", user: @user %>
