<div>
  <% if @svg %>
    <div class="my-5">
      <p>QR Code:</p>
      <div class="mt-2">
        <%= @svg.html_safe %>
      </div>
    </div>
  <% end %>
  <%= render "form", user: @user %>
  <%= link_to "Cancel", @user, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
