<div id="users">
  <% @users.each do |user| %>
    <div class="my-6 py-6 flex flex-col  justify-center items-center">
      <%= user_svg(user).html_safe %>
      <div class="mt-4 mb-6 pb-6 font-mono text-2xl font-bold"><%= user.password %></div>
    </div>
  <% end %>
</div>
