<div class="md:w-2/3 w-full flex">
  <div class="w-full">
    <div class="flex my-4">
      <%= link_to '‹ List everyone', users_path %>
    </div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @user %>
    <%= link_to 'Edit', auth_user_path(@user), class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
